.card {
  max-height: 50vh;
  width: 30%;
  margin: 0.7rem;
  padding: 0.5rem 0;
  color: white;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #989d9d;
  box-shadow: 1px 1px 10px 1px #00d0cc;
  justify-content: space-between;
}

.card video {
  width: 90%;
  max-height: 80%;
  margin: 0.5rem;
  box-shadow: 5px 5px 20px 3px #433f3f;
  background-color: black;
}

.metaContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.title {
  text-shadow: 1px 1px 3px black;
}

.copyButton {
  margin: 0.5rem 0;
  border: 1px solid transparent;
  font-size: 1rem;
  box-shadow: 1px 1px 2px black;
  background-image: linear-gradient(to right, var(--gradient));
  background-size: 150% auto;
  color: white;
  text-shadow: 1px 1px 3px black;
  font-weight: bold;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  cursor: pointer;
}

.copyButton:hover {
  background-position: right center;
}
